* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #F2F2F2;
  max-width: 390px;
  margin: 0 auto;
  min-height: 100vh;
}